
body{
    background-color:white;
    font-family: Georgia;
}
p,ol{
    font-size: 50px;
}

#introductionContainer h1{
    border: 1px solid #CD7DC8;
    border-radius: 10px;
    background: purple;
    color: white;
    width: 400px;
    text-align: center;
    padding: 20px;
    margin: 20px 550px;
    font-size: 35px;
}
.guideHeading h1{
    border:2px solid #CD7DC8;
    background: purple;
    color: white;
    border-radius: 10px;
    padding: 7px;
    width: 580px;
    
}

#guideLineContainer h1{
    border: 1px solid #CD7DC8;
    border-radius: 10px;
    background: purple;
    color: white;
    width: 550px;
    text-align: center;
    padding: 20px;
    margin: 20px 450px;
    font-size: 35px;
}

#introductionContainer p,#guideLineContainer p,#guideLineContainer ol{
    font-size: 20px;
    line-height: 30px;
}


#calculatorContainer h1{
    border: 1px solid #CD7DC8;
    width: 550px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0px;
       background: purple;
    color: white;
}

#contentContainer{
    margin: 5% 25% 25% 25%;
    border: 2px solid #CD7DC8;
    border-radius: 20px;
    padding: 2px 3% 2px;
}
#calculatorContainer{    
    border-radius: 30px;
    padding: 20px 0px;
    margin: 25px 0px;
}

th{
    color: #4D3D5A;
    font-size: 20px;
}

#calculatorContainer .courses,#calculatorContainer .grades,#calculatorContainer .credits{
    border: 1px solid #90468D;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    
    
}
.courses{
    width: 120px;
}

#calculatorContainer .button{
    border: 1px solid  #90468D;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    
}
#calculatorContainer .button:hover,#calculatorContainer .courses:hover,#calculatorContainer .grades:hover,#calculatorContainer .credits:hover {
    background-color: #DCB9DD;
}

#calculatorContainer .button:hover{
    cursor: pointer;
    border-radius: 10px;
}

/*Gpa Container*/
.gpaContainer{
    border: 1px solid #90468D;
    border-radius: 5px;
    margin: 4px auto;
    width: 40%;
    text-align: center;
    font-size: 1.2em;
    padding: 2px;
}



/* MEDIA SCREENS */

@media only screen and (max-width: 1550px) {
    #introductionContainer h1 {
        margin: 20px 500px;
    }
    #guideLineContainer h1,#calculatorContainer #contentContainer {
        margin: 20px 450px;
    }
    #calculatorContainer h1{
        margin: 20px 420px;
    }
}


@media only screen and (max-width: 1400px) {
    #introductionContainer h1 {
        margin: 20px 450px;
    }
    #guideLineContainer h1 {
        margin: 20px 400px;
    }
    #calculatorContainer h1{
        margin: 20px 380px;
    }

}

@media only screen and (max-width: 1250px) {
    #introductionContainer h1 {
        margin: 20px 375px;
    }
    #guideLineContainer h1,#calculatorContainer h1,#calculatorContainer #contentContainer {
        margin: 20px 330px;
    }
    #calculatorContainer h1{
        margin: 20px 310px;
    }
    
}

@media only screen and (max-width: 1150px) {
    #introductionContainer h1 {
        margin: 20px 325px;
    }
    #guideLineContainer h1,#calculatorContainer #contentContainer,#calculatorContainer h1 {
        margin: 20px 265px;
    }
    #calculatorContainer h1{
        margin: 20px 255px;
    }
}

@media only screen and (max-width: 1000px) {
    #introductionContainer h1 {
        margin: 20px 275px;
    }
    #guideLineContainer h1,#calculatorContainer h1,#calculatorContainer #contentContainer {
        margin: 20px 200px;
    }
    #calculatorContainer h1{
        margin: 20px 190px;
    }
    #introductionContainer h1,#guideLineContainer h1,#calculatorContainer h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 900px) {
    #introductionContainer h1 {
        margin: 20px 210px;
    }
    #guideLineContainer h1,#calculatorContainer h1,#calculatorContainer #contentContainer {
        margin: 20px 160px;
    }
    #calculatorContainer h1{
        margin: 20px 140px;
    }
}

@media only screen and (max-width: 800px) {
    #introductionContainer h1 {
        margin: 20px 170px;
    }
    #guideLineContainer h1,#calculatorContainer h1,#calculatorContainer #contentContainer {
        margin: 20px 90px;
    }
    #calculatorContainer h1{
        margin: 20px 80px;
    }
    
}

@media only screen and (max-width: 750px) {
    #introductionContainer h1 {
        margin: 20px 150px;
    }
    #guideLineContainer h1,#calculatorContainer h1,#calculatorContainer #contentContainer {
        margin: 20px 80px;
    }
    #calculatorContainer h1{
        margin: 20px 70px;
    }
}


@media only screen and (max-width: 700px) {
    #introductionContainer h1 {
        margin: 20px 115px;
    }
    #guideLineContainer h1,#calculatorContainer h1,#calculatorContainer #contentContainer {
        margin: 20px 50px;
        width: 80%;
    }
    #calculatorContainer h1{
        margin: 20px 40px;
    }
    #introductionContainer h1,#guideLineContainer h1,#calculatorContainer h1 {
        font-size: 27px;
    }
}

@media only screen and (max-width: 650px) {
    #introductionContainer h1 {
        margin: 20px 85px;
    }
    #calculatorContainer h1{
        margin: 20px 30px;
    }
    .guideHeading h1{
        width:95%
    }

}
@media only screen and (max-width: 610px) {
    #introductionContainer h1 {
        margin: 20px 70px;
    }

    #guideLineContainer h1,#calculatorContainer h1,#calculatorContainer #contentContainer {
        margin: 20px 25px;
        width: 85%;
    }
    #calculatorContainer h1{
        margin: 20px 20px;
    }
}

@media only screen and (max-width: 570px) {
    #introductionContainer h1 {
        margin: 20px 50px;
    }
    #guideLineContainer h1,#calculatorContainer h1,#calculatorContainer #contentContainer {
        margin: 20px 20px;
    }
    #calculatorContainer h1{
        margin: 20px 15px;
    }
    .guideHeading h1{
        font-size:27px;
    }
    #introductionContainer h1,#guideLineContainer h1,#calculatorContainer h1 {
        font-size: 24px;
    }
    

@media only screen and (max-width: 540px) {
    #introductionContainer h1 {
        margin: 20px 30px;
    }
    #guideLineContainer h1,#calculatorContainer h1,#calculatorContainer #contentContainer {
        margin: 20px 12px;
        
    }
}


@media only screen and (max-width: 510px) {
    #introductionContainer h1 {
        margin: 20px 30px;
        width: 70%;
    }
    .guideHeading h1{
        font-size:23px;
    }
}

@media only screen and (max-width: 420px) {
    #guideLineContainer h1,#calculatorContainer #contentContainer ,#calculatorContainer h1{
        margin: 20px 8px;
        
    }
    #introductionContainer h1,guideLineContainer h1,#calculatorContainer h1 {
        font-size: 30px;
    }
    #introductionContainer h1,#guideLineContainer h1,#calculatorContainer h1 {
        font-size: 23px;
    }
}

@media only screen and (max-width: 400px) {
    #calculatorContainer .courses,#calculatorContainer .grades,#calculatorContainer .credits{
        margin: 5px 0px;
    }
    #calculatorContainer .button{
        margin: 5px 0px;
    }
    .guideHeading h1{
        font-size:19px;
    }
}

@media only screen and (max-width: 390px) {
    #guideLineContainer h1,#calculatorContainer h1,#calculatorContainer #contentContainer {
        margin: 20px 0px;
        
    }
    th{
        font-size: 17px;
    }
}
@media only screen and (max-width: 365px) {
    #calculatorContainer .courses,#calculatorContainer .grades,#calculatorContainer .credits{
        padding: 5px 2px;
        font-size: 12px;
        border-radius: 6px;
    }
    #calculatorContainer .button{
        padding: 5px 2px;
        font-size: 12px;
        border-radius: 6px;
    }
    th{
        font-size: 15px;
    }
    #introductionContainer h1,#guideLineContainer h1,#calculatorContainer h1 {
        font-size: 20px;
    }
}
@media only screen and (max-width: 350px) {
    #introductionContainer h1 {
        margin: 20px 22px;
        
    }
    .guideHeading h1{
        font-size:16px;
    }
    th{
        font-size: 13px;
    }
    p,ol{
        font-size: 100px;
    }
}