body{
    background-color:#E4C7E4;
    font-family: Georgia;

}

#introductionContainer h1{
    border: 1px solid #CD7DC8;
    border-radius: 10px;
    background: linear-gradient(to right,#EDD79F -15%,#CDA1C6,#DF9BD3,#EDD79F 120%,#EAC3EC);
    color: #792573;
    width: 400px;
    text-align: center;
    padding: 20px;
    margin: 20px 550px;
    font-size: 35px;
}

#guideLineContainer h1{
    border: 1px solid #CD7DC8;
    border-radius: 10px;
    background: linear-gradient(to right,#EDD79F -15%,#CDA1C6,#DF9BD3,#EDD79F 120%,#EAC3EC);
    color: #792573;
    width: 550px;
    text-align: center;
    padding: 20px;
    margin: 20px 500px;
    font-size: 35px;
}

#introductionContainer p,#guideLineContainer p,#guideLineContainer ol{
    font-size: 20px;
    line-height: 30px;
}

#calculatorContainer h1{
    border: 1px solid #CD7DC8;
    width: 550px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 475px;
    background: linear-gradient(to right,#EDD79F -15%,#CDA1C6,#DF9BD3,#EDD79F 120%,#EAC3EC);
    color: #792573;
}

#contentContainer{
    margin: 10px 500px 100px 475px;
    border: 2px solid #CD7DC8;
    border-radius: 20px;
    padding: 60px;
}

th{
    color: #4D3D5A;
    font-size: 20px;
}

.courses,.grades,.credits{
    border: 1px solid #90468D;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    
}

.button{
    border: 2px solid  #90468D;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    
}