
body{
    background-color:#E4C7E4;
    font-family: Georgia;

}

#introductionContainer h1{
    border: 1px solid #CD7DC8;
    border-radius: 10px;
    background: linear-gradient(to right,#EDD79F -15%,#CDA1C6,#DF9BD3,#EDD79F 120%,#EAC3EC);
    color: #792573;
    width: 400px;
    text-align: center;
    padding: 20px;
    margin: 20px 550px;
    font-size: 35px;
}

#guideLineContainer h1{
    border: 1px solid #CD7DC8;
    border-radius: 10px;
    background: linear-gradient(to right,#EDD79F -15%,#CDA1C6,#DF9BD3,#EDD79F 120%,#EAC3EC);
    color: #792573;
    width: 550px;
    text-align: center;
    padding: 20px;
    margin: 20px 500px;
    font-size: 35px;
}

#introductionContainer p,#guideLineContainer p,#guideLineContainer ol{
    font-size: 20px;
    line-height: 30px;
}


#calculatorContainer h1{
    border: 1px solid #CD7DC8;
    width: 550px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 450px;
    background: linear-gradient(to right,#EDD79F -15%,#CDA1C6,#DF9BD3,#EDD79F 120%,#EAC3EC);
    color: #792573;
}

#contentContainer{
    margin: 5% 25% 25% 25%;
    border: 2px solid #CD7DC8;
    border-radius: 20px;
    padding: 10px;
}
#calculatorContainer{
    border: solid #792573;
    border-radius: 30px;
    padding: 20px 0px;
    margin: 25px 0px;
}

th{
    color: #4D3D5A;
    font-size: 20px;
}

#calculatorContainer .courses,#calculatorContainer .grades,#calculatorContainer .credits{
    border: 1px solid #90468D;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    
    
}

#calculatorContainer .button{
    border: 1px solid  #90468D;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    
}
#calculatorContainer .button:hover,#calculatorContainer .courses:hover,#calculatorContainer .grades:hover,#calculatorContainer .credits:hover {
    background-color: #DCB9DD;
}


/* MEDIA SCREENS */

@media only screen and (max-width: 1550px) {
    #introductionContainer h1 {
        margin: 20px 500px;
    }
    #guideLineContainer h1,#calculatorContainer h1,#calculatorContainer #contentContainer {
        margin: 20px 450px;
    }
}


@media only screen and (max-width: 1400px) {
    #introductionContainer h1 {
        margin: 20px 450px;
    }
    #guideLineContainer h1 {
        margin: 20px 400px;
    }

}

@media only screen and (max-width: 1250px) {
    #introductionContainer h1 {
        margin: 20px 375px;
    }
    #guideLineContainer h1,#calculatorContainer h1,#calculatorContainer #contentContainer {
        margin: 20px 330px;
    }
    
}

@media only screen and (max-width: 1150px) {
    #introductionContainer h1 {
        margin: 20px 325px;
    }
    #guideLineContainer h1,#calculatorContainer #contentContainer,#calculatorContainer h1 {
        margin: 20px 265px;
    }
}

@media only screen and (max-width: 1000px) {
    #introductionContainer h1 {
        margin: 20px 275px;
    }
    #guideLineContainer h1,#calculatorContainer h1,#calculatorContainer #contentContainer {
        margin: 20px 200px;
    }
}

@media only screen and (max-width: 900px) {
    #introductionContainer h1 {
        margin: 20px 210px;
    }
    #guideLineContainer h1,#calculatorContainer h1,#calculatorContainer #contentContainer {
        margin: 20px 160px;
    }
}

@media only screen and (max-width: 800px) {
    #introductionContainer h1 {
        margin: 20px 170px;
    }
    #guideLineContainer h1,#calculatorContainer h1,#calculatorContainer #contentContainer {
        margin: 20px 90px;
    }
}

@media only screen and (max-width: 750px) {
    #introductionContainer h1 {
        margin: 20px 150px;
    }
    #guideLineContainer h1,#calculatorContainer h1,#calculatorContainer #contentContainer {
        margin: 20px 80px;
    }
}

@media only screen and (max-width: 700px) {
    #introductionContainer h1 {
        margin: 20px 115px;
    }
    #guideLineContainer h1,#calculatorContainer h1,#calculatorContainer #contentContainer {
        margin: 20px 50px;
        width: 80%;
    }
}

@media only screen and (max-width: 650px) {
    #introductionContainer h1 {
        margin: 20px 85px;
    }
}
@media only screen and (max-width: 610px) {
    #introductionContainer h1 {
        margin: 20px 70px;
    }

    #guideLineContainer h1,#calculatorContainer h1,#calculatorContainer #contentContainer {
        margin: 20px 25px;
        width: 85%;
    }
}

@media only screen and (max-width: 570px) {
    #introductionContainer h1 {
        margin: 20px 50px;
    }
    #guideLineContainer h1,#calculatorContainer h1,#calculatorContainer #contentContainer {
        margin: 20px 20px;
    }
    

@media only screen and (max-width: 540px) {
    #introductionContainer h1 {
        margin: 20px 30px;
    }
    #guideLineContainer h1,#calculatorContainer h1,#calculatorContainer #contentContainer {
        margin: 20px 12px;
        
    }
}


@media only screen and (max-width: 510px) {
    #introductionContainer h1 {
        margin: 20px 30px;
        width: 70%;
    }
}

@media only screen and (max-width: 420px) {
    #guideLineContainer h1,#calculatorContainer #contentContainer ,#calculatorContainer h1{
        margin: 20px 8px;
        
    }
}

@media only screen and (max-width: 400px) {
    #calculatorContainer .courses,#calculatorContainer .grades,#calculatorContainer .credits{
        margin: 5px 0px;
    }
    #calculatorContainer .button{
        margin: 5px 0px;
    }

}

@media only screen and (max-width: 390px) {
    #guideLineContainer h1,#calculatorContainer h1,#calculatorContainer #contentContainer {
        margin: 20px 0px;
        
    }
    th{
        font-size: 17px;
    }
}
@media only screen and (max-width: 365px) {
    #calculatorContainer .courses,#calculatorContainer .grades,#calculatorContainer .credits{
        padding: 5px 2px;
        font-size: 12px;
        border-radius: 6px;
    }
    #calculatorContainer .button{
        padding: 5px 2px;
        font-size: 12px;
        border-radius: 6px;
    }
    th{
        font-size: 15px;
    }
}
@media only screen and (max-width: 350px) {
    #introductionContainer h1 {
        margin: 20px 22px;
        
    }
}